.head-h1 {
    padding-right: 1.5rem;
    font-weight: bold;
    font-size: 1.6rem;
}

.d-flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
